{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{title}}</title>
    <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet"/>
  </head>
  <body>

{% block mainmenu %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'image/logo.png' %}" width="20%" height="20%">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% for m in menu %}
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url m.url_name %}">{{m.title}}</a></li>
          {% endfor %}

          {{ request.session.total_price }} руб

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Категории
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              {% for c in category %}
                  <li><a class="dropdown-item" href="{{c.get_absolute_url}}">{{c.name}}</a></li> 
              {% endfor %}
              
            </ul>
          </li>
        </ul>
        {% if not request.user.is_authenticated %}

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Вход</a>
          </li>
        </ul>

        {% else %}

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Выход</a>
          </li>
        </ul>

        {% endif %}

      </div>
    </div>
  </nav>
<br>
<br>


{% endblock mainmenu %}

<div class="container">
{% block content %}

{% endblock content %}
<div class="row justify-content-md-center">
  <div class="col col-lg-3">
<!-- Если страница имеет кол-во записей равное или меньшее чем указано в paginate_by,
	 то будет отображена одна страница, погинация не будет разбивать список на страницы, 
	 т.к запеси помещаются на 1 странице -->
   {% if page_obj.has_other_pages  %} 
   <nav aria-label="Page navigation example">
       <ul class="pagination">
       
   {% if page_obj.has_next %}
   <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">>>></a> <!-- Если страница не последняя, то обтбражаем next -->
   </li>
   {% endif %}
   <!-- ListView - передаёт в шаблон paginator и page_obj -->
           {% for p in paginator.page_range %}
           {% if page_obj.number == p %} <!-- page_obj.number - отображает номер текущей страницы -->
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ p }}</span>
          </li><!-- Если True, то селектор активен -->
           {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
   
           <li class="page-item">
               <a class="page-link" href="?page={{ p }}">{{ p }}</a> <!-- Отображаем номера и ссылки на другие страницы -->
           </li>
           {% endif %}
           {% endfor %}
   
   {% if page_obj.has_previous %}
   <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<<</a> <!-- Если страница не перваяб то обтбражаем previo -->
   </li>
   {% endif %}
       </ul>
   </nav>
   {% endif %}
  </div>
</div>

</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>